/* Jesse Emmelot, 11963522 */

/* style attributes */
path.tempLines {
	fill: none;
}

path.radLines {
	fill: none;	
}

.tempLines {
	fill: none;
}

.radLines {
	fill: none;	
}

#tempLine {
	fill: none;
}

#radLine {
	fill: none;	
}

.lines {
	fill: none;
	stroke: #000;
	stroke-width: 2.5px;	
}

.radar {
	position: absolute;
	bottom: 35px;
	right: 40px;
}

.legend {
	font-family: 'Raleway', sans-serif;
	fill: #000;
}

.pie {
	position: absolute;
	left: 650px;
	top: 80px;
}

/* line chart attributes */
.chart {
	position: absolute;
	bottom: 35px;
	left: 20px;
	fill: none;
    stroke: #000;
	shape-rendering: crispEdges;
}

.overlay {
	fill: none;
	stroke: none;
	pointer-events: all;
}

.check-temperature {
	position: absolute;
	bottom: 310px;
	left: 80px;
}

.check-radiation {
	position: absolute;
	bottom: 285px;
	left: 80px;
}

.progress-wrapper {
	position: absolute;
	top: 300px;
	right: 500px;
}

.title {
	position: absolute;
	top: 25px;
	left: 400px;
	font-size: 35px;
	text-decoration: underline;
}

.progress_svg {
	position: absolute;
	left: 630px;
	top: 15px;
}

.map-text {
	position: absolute;
	font-size: 15px;
	bottom: 390px;
	left: 50px;
}

.btn {
	font-size: 16px;
}

/* location button width */
.button-width-location{
	width: 180px;
}

/* orientation button width */
.button-width-orientation{
	width: 180px;
}

/* angle button width */
.button-width-angle{
	width: 180px;
}

/* surface button width */
.button-width-surface{
	width: 180px;
}

/* panel button width */
.button-width-panel{
	width: 180px;
}

/* width button width */
.button-width-usage{
	width: 180px;
}

/* button group position */
.buttons {
	position: absolute;
	left: 400px;
	top: 70px;
	font-size: 20px;
}

.dropdown-menu {
	width: 205px;
}

.info-dropdown {
	width: 30px;
	text-align: center;
}

.enter {
	display: block;
	margin: 1`0px 0;
}

/* student credentials */
.name{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/* dropdown menu properties */
.scrollable {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

/* results group properties */
.results {
	position: absolute;
	top: 85px;
	right: 0px;	
	font-size: 70px;
}

/* production result position */
.production {
	position: absolute;
	right: 370px;
	width: 200px;
	height: 80px;
}

/* profit result position */
.profit {
	position: absolute;
	right: 185px;
	width: 200px;
	height: 80px;
}

/* payback result position */
.payback {
	position: absolute;
	right: 10px;
	width: 200px;
	height: 80px;
}

/* results units group properties */
.results-units {
	position: absolute;
	top: 170px;
	right: 0px;	
	font-size: 30px;
}

/* production result unit position */
.production-unit {
	position: absolute;
	right: 440px;
}

/* profit result unit position */
.profit-unit {
	position: absolute;
	right: 255px;
}

/* payback result unit position */
.payback-unit {
	position: absolute;
	right: 82px;	
}

/* results names group properties */
.results-names {
	position: absolute;
	top: 30px;
	right: 0px;	
	font-size: 30px;
}

/* production result unit position */
.production-name {
	position: absolute;
	right: 400px;
}

/* profit result unit position */
.profit-name {
	position: absolute;
	right: 250px;
}

/* payback result unit position */
.payback-name {
	position: absolute;
	right: 55px;	
}

/* 
	below are all slider properties 
*/
.wrapper{
	position: absolute;
	bottom: 45px;
	left: 52px;
	width: 814px;
}

.d3-slider {
    position: relative;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    border: 1px solid #aaaaaa;
    z-index: 2;
}

.d3-slider-horizontal {
    height: .8em;
}  

.d3-slider-range {
  background:#2980b9;
  left:0px;
  right:0px;
  height: 0.8em;
  position: absolute;
}

.d3-slider-range-vertical {
  background:#2980b9;
  left:0px;
  right:0px;
  position: absolute;
  top:0;
}

.d3-slider-vertical {
    width: .8em;
    height: 100px;
}      

.d3-slider-handle {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background: #eee;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
    z-index: 3;
}

.d3-slider-handle:hover {
    border: 1px solid #999999;
}

.d3-slider-horizontal .d3-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}

.d3-slider-axis {
    position: relative;
    z-index: 1;    
}

.d3-slider-axis-bottom {
    top: .8em;
	height: 30px;
}

.d3-slider-axis-right {
    left: .8em;
}

.d3-slider-axis path {
    stroke-width: 0;
    fill: none;
}

.d3-slider-axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.d3-slider-axis text {
    font-size: 11px;
}

.d3-slider-vertical .d3-slider-handle {
    left: -.25em;
    margin-left: 0;
    margin-bottom: -.6em;      
}

/*
	other assets
*/
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axis text {
	stroke: none;
	font-weight: 600;
	font-size: 15px;
}

.axisTwo path,
.axisTwo line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axisTwo text {
	stroke: none;
	font-weight: 600;
	font-size: 15px;
}

text.label {
	font-size: 14px;
	fill: #000;	
}

.pie-description {
	position: absolute;
	left: 685px;
	top: 360px;
	font-size: 16px
}

.radial-progress { 
	&__text {
		font-family: Arial, sans-serif;
		font-size: 2rem;
		font-weight: bold;
	}  
}

.sources {
	width: 800px;
}

#progress {
 position: absolute
}

.btn-sm {
	position: absolute;
	left: 810px;
	top: 30px;
	data-trigger: popover;
}

.popover {
	width: 800px;
}

.tip {
	line-height: 1;
	padding: 10px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 4px;
	font-size: 12px;
}

.tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

.tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}