/* Jesse Emmelot, 11963522 */

/* style attributes for the axis */
.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

/* below are the radar chart attributes */
.radar-chart .area {
  fill-opacity: 0.7;
}
.radar-chart.focus .area {
  fill-opacity: 0.3;
}
.radar-chart.focus .area.focused {
  fill-opacity: 0.9;
}

.area.house, .house {
  fill: orange;
  stroke: none;
}

.radar {
	position: absolute;
	bottom: -180px;
	right: -580px;
}

/* line chart attributes */
.chart {
	position: absolute;
	bottom: 45px;
	left: 20px;
}

.title {
	position: absolute;
	top: 20px;
	left: 470px;
	font-size: 30px;
	text-decoration: underline;
}

.btn {
	font-size: 20px;
}

/* location button width */
.button-width-location{
	width: 250px;
}

/* orientation button width */
.button-width-orientation{
	width: 250px;
}

/* angle button width */
.button-width-angle{
	width: 250px;
}

/* surface button width */
.button-width-surface{
	width: 250px;
}

/* panel button width */
.button-width-panel{
	width: 250px;
}

/* width button width */
.button-width-usage{
	width: 250px;
}

/* button group position */
.buttons {
	position: absolute;
	left: 490px;
	top: 45px;
	font-size: 29px;
}

.dropdown-menu {
	width: 250px;
}

.enter {
	display: block;
	margin: 22px 0;
}

/* student credentials */
.name{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/* dropdown menu properties */
.scrollable {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

/* results group properties */
.results {
	position: absolute;
	top: 25px;
	left: 850px;	
	font-size: 70px;
}

/* production result position */
.production {
	position: absolute;
	width: 200px;
	height: 80px;
}

/* profit result position */
.profit {
	position: absolute;
	left: 200px;
	width: 200px;
	height: 80px;
}

/* payback result position */
.payback {
	position: absolute;
	left: 400px;
	width: 200px;
	height: 80px;
}

/* results units group properties */
.results-units {
	position: absolute;
	top: 110px;
	left: 919px;	
	font-size: 30px;
}

/* production result unit position */
.production-unit {
	position: absolute;	
}

/* profit result unit position */
.profit-unit {
	position: absolute;
	left: 200px;
}

/* payback result unit position */
.payback-unit {
	position: absolute;
	left: 400px;
}

/* 
	below are all slider properties 
*/
.wrapper{
	position: absolute;
	bottom: 40px;
	left: 30px;
	width: 785px;
}

.d3-slider {
    position: relative;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    border: 1px solid #aaaaaa;
    z-index: 2;
}

.d3-slider-horizontal {
    height: .8em;
}  

.d3-slider-range {
  background:#2980b9;
  left:0px;
  right:0px;
  height: 0.8em;
  position: absolute;
}

.d3-slider-range-vertical {
  background:#2980b9;
  left:0px;
  right:0px;
  position: absolute;
  top:0;
}

.d3-slider-vertical {
    width: .8em;
    height: 100px;
}      

.d3-slider-handle {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background: #eee;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
    z-index: 3;
}

.d3-slider-handle:hover {
    border: 1px solid #999999;
}

.d3-slider-horizontal .d3-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}

.d3-slider-axis {
    position: relative;
    z-index: 1;    
}

.d3-slider-axis-bottom {
    top: .8em;
}

.d3-slider-axis-right {
    left: .8em;
}

.d3-slider-axis path {
    stroke-width: 0;
    fill: none;
}

.d3-slider-axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.d3-slider-axis text {
    font-size: 11px;
}

.d3-slider-vertical .d3-slider-handle {
    left: -.25em;
    margin-left: 0;
    margin-bottom: -.6em;      
}